.style-text {
    color: #222222;
    font-family: 'Times New Roman';
    font-size: 12pt;
}

.color3 {
    color: #333333; 
}

.padding{
    padding: 10px 20px 0 0;
}

.header--left{ 
    /* display: grid; */
}

.company {
    font-weight: bold;
}

.title-item {
    font-weight: bold;
}

.contract-name{ 
    font-weight: bold;
}

.ck-editor__editable_inline {
    min-height: 300px; 
}

 

.setting-contract { 
    /* margin-left: 50%; */
}

.contract-btn{ 
    border-radius: 5px;
    font-weight: bold;
    font-size: 35px;
}

.contract-rules { 
    cursor: pointer;
}

.input-hidden {
    /* border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 0.5px solid black; */
}

.width-350{
    width: 350px;
}

.width-300{
    width: 300px;
}

.width-250{
    width: 250px;
}


.width-170{
    width: 170px;
}

.width-100{
    width: 100px;
}

.width-25{
    width: 25px;
}

.width-50{
    width: 45px;
}